.dialogs {
     display: grid;
     grid-template-columns: 1fr 5fr;
 }

.dialogsItems {
    padding: 20px;
}

.dialogsItems .active {
    color: rgb(182, 46, 46);
}

.dialog {

}

.messages {
    padding: 20px;
}

.message {

}